/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  background-color: chocolate;
  color: white;
  padding: 10px;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
}

.image-window {
  flex: 2; /* 占据窗口宽度的2/3 */
  background-color: #f2ece5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

.algorithm-list {
  flex: 1; /* 占据窗口宽度的1/3 */
  background-color: #d7cfc5;
  padding: 10px;
}

.card {
  margin-top: 10px;
  border: 1px solid chocolate;
  border-radius: 5px;
  clear:both;
}

.card-header {
background-color: chocolate;
color: white;
padding: 10px;
border-top-left-radius: 5;
border-top-right-radius: 5;
}
